
:root{
    --marrom-1: #A27359;
    --marrom-2: #603F2E;
    --marrom-3: #A9674D;
}

body{
    background-color: var(--marrom-1); /* exadecimal */
}

.hero{
   background-color: var(--marrom-2);
   box-shadow: black 5px 5px 5px;
   margin: 3% 23%;
   padding: 5px 60px;
}

header{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* border: solid 1px white; */
}

h1{
   width: 100%;
   background-color: var(--marrom-3);
   font-family: cursive;
   text-align: center;     
   border-radius: 10px;
   padding: 5px;
}

img{
   width: 500px;
}

main{
   width: 100%;
   
}

.rm{
   /* border: solid 1px white; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0px 30px;
   /* border: 1px solid white; */
}

h2{
   width: 100%;
   background-color: var(--marrom-3);
   font-family: cursive;
   text-align: center;
   padding: 2px;
   border-radius: 10px;
}

.lista{
   width: 500px;
   /* border: 1px solid white; */
}

li{
   color: white;
   padding: 2px;
   font-family: cursive;
}

footer{
   width: 100%;
   /* border: solid 1px white; */
}

p{
   background-color: var(--marrom-3);
   font-family: cursive;
   text-align: center;
   padding: 2px;
   border-radius: 10px;
}