
:root{
    --marrom-1: #A27359;
    --marrom-2: #603F2E;
    --marrom-3: #A9674D;
}

body{
    background-color: var(--marrom-1); /* exadecimal */
}

div{
   background-color: var(--marrom-2);
   box-shadow: black 5px 5px 5px;
   padding: 10px;
   margin-left: 300px;
   margin-right: 300px;
   margin-top: 50px;
   margin-bottom: 50px;
}

h1{
   background-color: var(--marrom-3);
   font-family: cursive;
   text-align: center;     
   border-radius: 10px;
   margin-left: 50px;
   margin-right: 50px;
   padding: 5px;
}

img{
   text-align: center;
   padding-left: 110px;
   width: 500px;
}

h2{
   background-color: var(--marrom-3);
   font-family: cursive;
   text-align: center;
   margin-left: 60px;
   margin-right: 60px;
   padding: 2px;
   border-radius: 10px;
}

ul{
   padding-left: 150px;
}

ol{
   padding-left: 150px;
}

li{
   color: white;
   padding: 2px;
   font-family: cursive;
}

p{
   background-color: var(--marrom-3);
   font-family: cursive;
   text-align: center;    
   margin-left: 50px;
   margin-right: 50px;
   padding: 2px;
   border-radius: 10px;
}